<div class="container">
  
  <div class="row">
    <div class="form-header">
      <h3>
        ความสามารถพิเศษ (Special Ability)
      </h3>
    </div>
  </div>
  <div class="row">
    
    <div class="col-12">
      <p>ด้านคอมพิวเตอร์</p>
      <div class="row">
        <div class="col-8">
          <label for="word"><input type="checkbox" id="word" [(ngModel)]="pi.word"> Microsoft Word</label>
          <label for="powerpoint"><input type="checkbox" id="powerPoint" [(ngModel)]="pi.powerPoint">  Microsoft Powerpoint </label>
          <label for="excel"><input type="checkbox" id="excel" [(ngModel)]="pi.excel"> Microsoft Excel </label>
        </div>
      </div>
    </div>  
    
  </div>
  
  <div class="row"> 
    <div class="col-3">
      <p>การขับรถ</p>
      <label for="can-drive"> ขับได้ <input type="radio" name="car-drive" id="can-drive" value="1" [(ngModel)]="pi.driveCar"></label>
      <label for="cannot-drive"> ขับไม่ได้ <input type="radio" name="car-drive" id="cannot-drive" value="0" [(ngModel)]="pi.driveCar"></label>
    </div>
    
    <div class="col-3">
      <p>มีรถยนต์ส่วนตัว</p>
      <label for="own-car"> มี <input type="radio" name="own-car" id="own-car" value="1" [(ngModel)]="pi.ownCar"></label>
      <label for="not-own-car"> ไม่มี <input type="radio" name="own-car" id="not-own-car" value="0" [(ngModel)]="pi.ownCar"></label>
      
    </div>
    
    <div class="col-6">
      <p>ใบอนุญาตขับขี่</p>
      <label for="own-car-driver-license"> มี <input type="radio" name="car-driver-license" id="own-car-driver-license" value="1" [(ngModel)]="haveCarLC"> <label for="car-license-number"></label> เลขที่ <input type="text" id="car-license-number" [(ngModel)]="pi.driveLicenseCar" [disabled]="haveCarLC=='0'"> </label>
      <label for="not-own-car-driver-license"> ไม่มี <input type="radio" name="car-driver-license" id="not-own-car-driver-license" value="0" [(ngModel)]="haveCarLC" (change)="noLC('car')"></label>
    </div>
  </div>
  <div class="row"> 
    <div class="col-3">
      <p>การขับมอเตอร์ไซค์</p>
      <label for="can-ride"> ขับได้ <input type="radio" name="motocycle-ride" id="can-ride" value="1" [(ngModel)]="pi.rideMotocycle"></label>
      <label for="cannot-ride"> ขับไม่ได้ <input type="radio" name="motocycle-ride" id="cannot-ride" value="0" [(ngModel)]="pi.rideMotocycle"></label>
    </div>
    
    <div class="col-3">
      <p>มีรถมอเตอร์ไซค์ส่วนตัว</p>
      <label for="own-motorcycle"> มี <input type="radio" name="own-motorcycle" id="own-motorcycle" value="1" [(ngModel)]="pi.ownMotocycle"></label>
      <label for="not-own-motorcycle"> ไม่มี <input type="radio" name="own-motorcycle" id="not-own-motorcycle" value="0" [(ngModel)]="pi.ownMotocycle"> </label>
      
    </div>
    
    <div class="col-6">
      <p>ใบอนุญาตขับขี่</p>
      <label for="own-motorcycle-driver-license"> มี <input type="radio" name="motocycle-driver-license" id="own-motorcycle-driver-license" value="1" [(ngModel)]="haveBikeLC"> <label for="motocycle-license-number"></label> เลขที่ <input type="text" id="motocycle-license-number" [(ngModel)]="pi.driveLicenseMotocycle" [disabled]="haveBikeLC=='0'"> </label>
      <label for="not-own-motorcycle-driver-license"> ไม่มี <input type="radio" name="motocycle-driver-license" id="not-own-motorcycle-driver-license" value="0" [(ngModel)]="haveBikeLC" (change)="noLC('bike')"></label>
    </div>
  </div>

  <div class="row">
      <label for="hobbies">งานอดิเรก : โปรดระบุ <input type="text" id="hobbies" size="100px" [(ngModel)]="pi.hobby"></label>
  </div>
</div>