.header-bar, .content {
    width: 100%;
}

.header-bar {
    position: fixed;
    background-color: #0387f6;
    color: white;
    padding: 10px;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.right {
    text-align: right;
}

.header-bar div.right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.name {
    margin-right: 10px;
    color: black;
}

.content {
    margin-top: 100px;
    z-index: -1;
}
