header {
    border-bottom: 2px solid #eee;
    background-color: #0387f6;
}

.center {
    text-align: center;
}

.header-bar {
    position: fixed;
    background-color: #0387f6;
    color: white;
    padding: 10px;
    z-index: 2;
    left: 0px;
    top: 0px;
}