/* You can add global styles to this file, and also import other style files */
div.application-title {
    border: 5px solid #000000;
    text-align: center;
}

div.application-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.application {
    width: 80%;
}

div.container {
    display: block;
}

div.row {
    clear: both;
}


div.cell {
    float: left;
    overflow: hidden;
}

div.cell2 {
    overflow: hidden;
    float: left;
    padding-right: 20px;
}