
<div class="form-container">
  <h1>
    ข้อมูลส่วนตัว
  </h1>
  <div [hidden]="userService.checkPersonalInformation()" class="alert alert-warning">
    กรุณากรอกช่องที่มี * (ดอกจัน) สีแดงให้ครบ
  </div>
  <div class="form">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <button class="btn btn-success" (click)="previous()" [disabled]="page<=1">
    &laquo; Previous
  </button>
  <button class="btn btn-primary" (click)="save()">
    save
  </button>
  <button class="btn btn-secondary" (click)="cancel()">
    cancel
  </button>
  <button class="btn btn-success" (click)="next()" [disabled]="page>=8">
    Next &raquo;
  </button>
</div>