<div class="container">
    <div class="row">
        <div class="col-12 form-header">
            <h3>
                ข้อมูลอื่นๆ(Other information)
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <span> ท่านเคยถูกกล่าวหา หรือต้องโทษในคดีอาญาหรือไม่ </span>
        </div>
        <div class="col-3">
            <label for="q1-1" class="choice"> เคย
                <input type="checkbox" id="q1-1"> </label>
            <label for="q1-2" class="choice"> ไม่เคย
                <input type="checkbox" id="q1-2"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <span> ท่านเคยเป็นบุคคลที่ศาลสั่งล้มละลาย หรือเป็นคนที่เสมือนไร้ซึ่งความสามารถหรือไม่ </span>
        </div>
        <div class="col-3">
            <label for="q2-1" class="choice"> เคย
                <input type="checkbox" id="q2-1"> </label>
            <label for="q2-2" class="choice"> ไม่เคย
                <input type="checkbox" id="q2-2"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <span> ท่านเคยประสบอุบัติเหตุร้ายแรงหรือไม่ </span>
        </div>
        <div class="col-3">
            <label for="q3-1" class="choice"> เคย
                <input type="checkbox" id="q3-1"> </label>
            <label for="q3-2" class="choice"> ไม่เคย
                <input type="checkbox" id="q3-2"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <span> ใน 5 ปีที่ผ่านมา ท่านเคยเจ็บปวดร้ายแรงหรือไม่ </span>
        </div>
        <div class="col-3">
            <label for="q4-1" class="choice"> เคย
                <input type="checkbox" id="q4-1"> </label>
            <label for="q4-2" class="choice"> ไม่เคย
                <input type="checkbox" id="q4-2"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <span> ท่านมีโรคประจำตัวหรือไม่ </span>
        </div>
        <div class="col-3">
            <label for="q5-1" class="choice"> เคย
                <input type="checkbox" id="q5-1"> </label>
            <label for="q5-2" class="choice"> ไม่เคย
                <input type="checkbox" id="q5-2"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <label for="q5-description"> โปรดระบุ
                <input type="text" size="70px" id="q5-description"> </label>
        </div>
    </div>

    <div class="row">
        <label>ท่านทราบข่าวการสมัครงานจากที่ใด</label>
    </div>

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <label for="q5-description"> นสพ. โปรดระบุ
                <input type="text" size="70px" id="q6-1"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <label for="q6-2"> เว๊บไซต์ โปรดระบุ
                <input type="text" size="70px" id="q6-2"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <label for="q6-3"> งานนัดพบแรงงาน โปรดระบุ
                <input type="text" size="70px" id="q6-3"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <label for="q6-4"> บุคคลแนะนำ โปรดระบุ
                <input type="text" size="70px" id="q6-4"> </label>
        </div>
    </div>

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-11">
            <label for="q6-5"> อื่นๆ โปรดระบุ
                <input type="text" size="70px" id="q6-5"> </label>
        </div>
    </div>

</div>