<div class="container">
  <div class="form-header">
    <h3>
      ความประสงค์ (Requirement)
    </h3>
  </div>
  
  <div class="row">
    <div class="col-12">
      <span class="control-label-required"> ตำแหน่งงานที่ต้องการสมัคร </span> 
      <label for="position1"> 1.)<input type="text" id="position1" [(ngModel)]="application.position1"> </label>
      <label for="position2"> 2.)<input type="text" id="position2" [(ngModel)]="application.position2"> </label>
    </div>
    
    <div class="col-1">
      
    </div>
    
    <div class="col-6">
      <label for="workerType1">  <input type="radio" id="workerType1" name="workerType" value="พนักงานประจำ" [(ngModel)]="application.workerType">พนักงานประจำ</label>
      <label for="workerType2"> <input type="radio" id="workerType2" name="workerType" value="พนักงานชั่วคราว"  [(ngModel)]="application.workerType">พนักงานชั่วคราว </label>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <p class="control-label-required"> สามารถปฏิบัติงานเป็นกะได้หรือไม่ </p> 
    </div>
    
    <div class="col-1">
      
    </div>
    
    <div class="col-6">
      <label for="can-workInShift"> <input type="radio" id="workInShift1" name="can-workInShift" value="1" [(ngModel)]="application.workInShift">ได้ </label>
      <label for="cannot-workInShift">  <input type="radio" id="workInShift2" name="cannot-workInShift" value="0" [(ngModel)]="application.workInShift">ไม่ได้</label>
    </div>
  </div>
  
  <div class="row">
    <div>
      <p class="control-label-required">
        เครือโรงพยาบาลพญาไทและเครือโรงพยาบาลเปาโล ทีประสงค์จะเข้าปฏิบัติงาน (เลือกได่้มากกว่า 1 ข้อ)
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <label for="hospital1"> <input type="checkbox" id="hospital1" (change)="selectHospital('โรงพยาบาลพญาไท 1')"> โรงพยาบาลพญาไท 1  </label>
      <label for="hospital2"> <input type="checkbox" id="hospital2" (change)="selectHospital('โรงพยาบาลพญาไท 2')"> โรงพยาบาลพญาไท 2  </label>
      <label for="hospital3"> <input type="checkbox" id="hospital3" (change)="selectHospital('โรงพยาบาลพญาไท 3')"> โรงพยาบาลพญาไท 3  </label>
      <label for="hospital4"> <input type="checkbox" id="hospital4" (change)="selectHospital('โรงพยาบาลพญาไท นวมินทร์')"> โรงพยาบาลพญาไท นวมินทร์  </label>
      <label for="hospital5"> <input type="checkbox" id="hospital5" (change)="selectHospital('โรงพยาบาลพญาไท ศรีราชา')"> โรงพยาบาลพญาไท ศรีราชา  </label>
      <label for="hospital6"> <input type="checkbox" id="hospital6" (change)="selectHospital('โรงพยาบาลพญาไท พหลโยธิน')"> โรงพยาบาลพญาไท พหลโยธิน  </label>
      <label for="hospital7"> <input type="checkbox" id="hospital7" (change)="selectHospital('โรงพยาบาลพญาไท สมุทรปราการ')"> โรงพยาบาลพญาไท สมุทรปราการ  </label>
      <label for="hospital8"> <input type="checkbox" id="hospital8" (change)="selectHospital('โรงพยาบาลเปาโล โชคชัย 4')"> โรงพยาบาลเปาโล โชคชัย 4  </label>
      <label for="hospital9"> <input type="checkbox" id="hospital9" (change)="selectHospital('โรงพยาบาลเปาโล รังสิต')"> โรงพยาบาลเปาโล รังสิต  </label>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <label for="salary" class="control-label-required"> เงินเดือนที่ต้องการ </label><input type="number" id="salary"  [(ngModel)]="application.salary"> <label> บาท/เดือน </label>
    </div>
    <div class="col-6">
        <label for="startingDate" class="control-label-required">วันที่พร้อมจะเริ่มทำงาน </label> <input type="date" id="startingDate"  [(ngModel)]="application.startingDate">
    </div>
  </div>
</div>