<div class="container">
  <div class="row">
    <div class="form-header">
      <h3>
        โปรดระบุชื่อบุคคล ที่สามารถรับรองท่านได้ 2 ชื่อ (ไม่ใช่ญาติ) 
        <br>
        Please provide two names for referrences (not relative)
      </h3>
    </div>
  </div>
  
  <div class="row">
    <label for="name1" class="col-3"> ชื่อ-สกุล <input type="text" id="name1"></label>
    <label for="relation1" class="col-3"> ความสัมพันธ์ <input type="text" id="relation1"></label>
    <label for="address1" class="col-6"> ที่อยู่ <input type="text" id="address1"></label>
  </div>
  
  <div class="row">
    <label for="name2" class="col-3"> ชื่อ-สกุล <input type="text" id="name2"></label>
    <label for="relation2" class="col-3"> ความสัมพันธ์ <input type="text" id="relation2"></label>
    <label for="address2"  class="col-6"> ที่อยู่ <input type="text" id="address2"></label>
  </div>
</div>