<div class="container">
  
  <div class="row">
    <div class="form-header">
      <h3>
        ความสามารถทางภาษา (Language Ability)
      </h3>
    </div>
  </div>
  
  <div class="thai-group">
    <div class="row">
      <div class="col-4">
        <h4>
          ภาษาไทย
        </h4>
      </div>
      
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การพูด</label> 
      </div>
      <div class="col-5">
        <label for="thai-speaking-best"> ดีมาก <input type="checkbox" id="thai-speaking-best"> </label>
        <label for="thai-speaking-good"> ดี <input type="checkbox" id="thai-speaking-good"> </label>
        <label for="thai-speaking-common"> พอใช้ <input type="checkbox" id="thai-speaking-common"> </label>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การอ่าน</label> 
      </div>
      <div class="col-6">
        <label for="thai-reading-best"> ดีมาก <input type="checkbox" id="thai-reading-best"> </label>
        <label for="thai-reading-good"> ดี <input type="checkbox" id="thai-reading-good"> </label>
        <label for="thai-reading-common"> พอใช้ <input type="checkbox" id="thai-reading-common"> </label>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การเขียน</label> 
      </div>
      <div class="col-6">
        <label for="thai-writing-best"> ดีมาก <input type="checkbox" id="thai-writing-best"> </label>
        <label for="thai-writing-good"> ดี <input type="checkbox" id="thai-writing-good"> </label>
        <label for="thai-writing-common"> พอใช้ <input type="checkbox" id="thai-writing-common"> </label>
      </div>
    </div>
    
  </div>
  <div class="english-group">
    <div class="row">
      <div class="col-4">
        <h4>
          ภาษาอังกฤษ
        </h4>
      </div>
      
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การพูด</label> 
      </div>
      <div class="col-6">
        <label for="english-speaking-best"> ดีมาก <input type="checkbox" id="english-speaking-best"> </label>
        <label for="english-speaking-good"> ดี <input type="checkbox" id="english-speaking-good"> </label>
        <label for="english-speaking-common"> พอใช้ <input type="checkbox" id="english-speaking-common"> </label>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การอ่าน</label> 
      </div>
      <div class="col-6">
        <label for="english-reading-best"> ดีมาก <input type="checkbox" id="english-reading-best"> </label>
        <label for="english-reading-good"> ดี <input type="checkbox" id="english-reading-good"> </label>
        <label for="english-reading-common"> พอใช้ <input type="checkbox" id="english-reading-common"> </label>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การเขียน</label> 
      </div>
      <div class="col-6">
        <label for="english-writing-best"> ดีมาก <input type="checkbox" id="english-writing-best"> </label>
        <label for="english-writing-good"> ดี <input type="checkbox" id="english-writing-good"> </label>
        <label for="english-writing-common"> พอใช้ <input type="checkbox" id="english-writing-common"> </label>
      </div>
    </div>
    
  </div>
  <div class="other-group">
    <div class="row">
      <div class="col-4">
        <h4>
          ภาษาอื่น ๆ
        </h4>
        <label for="other-language">โปรดระบุ <input type="text" id="other-language"> </label>
      </div>
      
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การพูด</label> 
      </div>
      <div class="col-6">
        <label for="other-speaking-best"> ดีมาก <input type="checkbox" id="other-speaking-best"> </label>
        <label for="other-speaking-good"> ดี <input type="checkbox" id="other-speaking-good"> </label>
        <label for="other-speaking-common"> พอใช้ <input type="checkbox" id="other-speaking-common"> </label>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การอ่าน</label> 
      </div>
      <div class="col-6">
        <label for="other-reading-best"> ดีมาก <input type="checkbox" id="other-reading-best"> </label>
        <label for="other-reading-good"> ดี <input type="checkbox" id="other-reading-good"> </label>
        <label for="other-reading-common"> พอใช้ <input type="checkbox" id="other-reading-common"> </label>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      
      <div class="col-4">
        <label> การเขียน</label> 
      </div>
      <div class="col-6">
        <label for="other-writing-best"> ดีมาก <input type="checkbox" id="other-writing-best"> </label>
        <label for="other-writing-good"> ดี <input type="checkbox" id="other-writing-good"> </label>
        <label for="other-writing-common"> พอใช้ <input type="checkbox" id="other-writing-common"> </label>
      </div>
    </div>
    
  </div>  
  
  <div class="row">
    <div class="col-8">
      <label for="toeic-score">TOEIC score <input type="text" id="toeic-score" > </label>
      <label for="toeic-year"> year <input type="text" id="toeic-year"> </label>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <label for="toefl-score"> TOEFL score <input type="text" id="toefl-score"> </label>
      <label for="toefl-year"> year <input type="text" id="toefl-year"> </label>
    </div>
  </div>
</div>