<div class="container">
  <div class="row">
    <div class="form-header">
      <h3>
        ความรู้เกี่ยวกับเครือโรงพยาบาลพญาไท และเครือโรงพยาบาลเปาโล <br>
        (Knowledge about Phayathai Hospital and Paolo Hospital group)
      </h3>
    </div>
  </div>
  
  <div class="row">
    <p class="control-label-required"> ท่านรู้จักเครือโรงพยาบาลพญาไท และเครือโรงพยาบาลเปาโลได้อย่างไร</p>
    <div class="col-1">
      
    </div>
    
    <div class="col-11">
      <label for="qh11">  <input type="checkbox" id="qh11" (change)="select(0)"> เคยใช้บริการเครือโรงพยาบาลพญาไท และเครือโรงพยาบาลเปาโล </label>
      <label for="qh11-description"> สาขา <input type="text" id="qh11-description" [disabled]="!qh11checked" [(ngModel)]="qh11.detail"> </label>
    </div>
    
    <div class="col-11">
      <label for="qh12">  <input type="checkbox" id="qh12" (change)="select(1)"> มีบุคคลแนะนำ</label>
      <label for="qh12-description"> โปรดระบุ <input type="text" id="q1h2-description" [disabled]="!qh12checked" [(ngModel)]="qh12.detail"> </label>
    </div>
    
    <div class="col-11">
      <label for="qh13">  <input type="checkbox" id="qh13" (change)="select(2)"> อื่น ๆ</label>
      <label for="qh13-description"> โปรดระบุ <input type="text" id="qh13-description" [disabled]="!qh13checked" [(ngModel)]="qh13.detail"> </label>
    </div>
  </div>
  
  <div class="row">
    <span class="control-label-required">
      หากกล่าวถึงเครือโรงพยาบาลพญาไทและเครือโรงพยาบาลเปาโล 
      <br>
      ท่านมีความคิดเห็นหรือมีทัศนะคติอย่างไรบ้าง และท่านให้คำจำกัดความเกี่ยวกับเครือโรงพยาบาลพญาไทและเครือโรงพยาบาลเปาโลอย่างไร
    </span>
    <input type="text" id="qh2" size="100px" [(ngModel)]="application.qh2">
  </div>

  <div class="row">
      <span class="control-label-required"> เพราะเหตุใดท่านจึงเลือกสมัครมาเป็นพนักงานเครือโรงพยาบาลพญาไทและเครือโรงพยาบาลเปาโล </span><input type="text" id="qh3" size="100px" [(ngModel)]="application.qh3"/>
  </div>
  
</div>