<div class="container">
  <div class="row">
    <div class="form-header">
      <h3>
        ความรู้เกี่ยวกับเครือโรงพยาบาลพญาไท และเครือโรงพยาบาลเปาโล <br>
        (Knowledge about Phayathai Hospital and Paolo Hospital group)
      </h3>
    </div>
  </div>
  
  <div class="row">
    <p> ท่านรู้จักเครือโรงพยาบาลพญาไท และเครือโรงพยาบาลเปาโลได้อย่างไร</p>
    <div class="col-1">
      
    </div>
    
    <div class="col-11">
      <label for="qh1">  <input type="checkbox" id="qh1"> เคยใช้บริการเครือโรงพยาบาลพญาไท และเครือโรงพยาบาลเปาโล</label>
      <label for="qh1-description"> สาขา <input type="text" id="qh1-description"> </label>
    </div>
    
    <div class="col-11">
      <label for="qh2">  <input type="checkbox" id="qh2"> มีบุคคลแนะนำ</label>
      <label for="qh2-description"> โปรดระบุ <input type="text" id="qh2-description"> </label>
    </div>
    
    <div class="col-11">
      <label for="qh3">  <input type="checkbox" id="qh3"> อื่น ๆ</label>
      <label for="qh3-description"> โปรดระบุ <input type="text" id="qh3-description"> </label>
    </div>
  </div>
  
  <div class="row">
    <span>
      หากกล่าวถึงเครือโรงพยาบาลพญาไทและเครือโรงพยาบาลเปาโล 
      <br>
      ท่านมีความคิดเห็นหรือมีทัศนะคติอย่างไรบ้าง และท่านให้คำจำกัดความเกี่ยวกับเครือโรงพยาบาลพญาไทและเครือโรงพยาบาลเปาโลอย่างไร
    </span>
    <input type="text" id="qh4" size="100px">
  </div>

  <div class="row">
      <span> เพราะเหตุใดท่านจึงเลือกสมัครมาเป็นพนักงานเครือโรงพยาบาลพญาไทและเครือโรงพยาบาลเปาโล <input type="text" id="qh5" size="100px" /></span>
  </div>
  
</div>