<div class="application">
    <div class="application-title">
      <h3>{{title}}</h3>
    </div>
  </div>
  <div class="application">
    <div class="application-body container">
      <div class="row">
        <div class="cell" align="left">
          <div style="width: 165px; display: inline-block">บริษัท/หมายเลขติดต่อ</div>
          <div style="width: 165px; display: inline-block">ตำแหน่ง</div>
          <div style="width: 165px; display: inline-block">เงินเดือน</div>
          <div style="width: 165px; display: inline-block">สาเหตุที่ออก</div>
          <div style="width: 165px; display: inline-block">ตั้งแต่</div>
          <div style="width: 165px; display: inline-block">ถึง</div>
          
          <button (click)="addRow()">new row</button>
          <br>
          <div *ngFor="let i of numbers">
            <input [(ngModel)]="application.employmentRecords[i].company" />
            <input [(ngModel)]="application.employmentRecords[i].position" />
            <input type="number" [(ngModel)]="application.employmentRecords[i].salary" />
            <input [(ngModel)]="application.employmentRecords[i].reasonForLeaving" />
            <input type="month" [(ngModel)]="application.employmentRecords[i].from"/>
            <input type="month" [(ngModel)]="application.employmentRecords[i].to"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
    