<div class="application">
  <div class="application-title">
    <h3>{{title}}</h3>
  </div>
</div>
<div class="application">
  <div class="application-body container">
    <div class="row">
      <div class="cell">
        <label> ชื่อ-นามสกุล
          <input type="radio" [(ngModel)]="application.personalInformation.titleTH" value="นาย" name="titleTH" />นาย
          <input type="radio" [(ngModel)]="application.personalInformation.titleTH" value="นาง" name="titleTH" />นาง
          <input type="radio" [(ngModel)]="application.personalInformation.titleTH" value="นางสาว" name="titleTH" />นางสาว
          <input [(ngModel)]="application.personalInformation.fNameTH" placeholder="ชื่อจริง" />
          <input [(ngModel)]="application.personalInformation.lNameTH" placeholder="นามสกุล" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <label> ชื่อ-นามสกุล (ภาษาอังกฤษ)
          <input [(ngModel)]="application.personalInformation.fNameEN" placeholder="First Name" />
          <input [(ngModel)]="application.personalInformation.lNameEN" placeholder="Last Name" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="cell" align="left">
        <p>ที่อยู่ที่สามารถติดต่อได้</p>
        <input [(ngModel)]="application.personalInformation.address" size="100"/>
      </div>
    </div>
    <div class="row"><br></div>
    <div class="row">
      <div class="cell">
        <label>
          โทรศัพท์มือถือ
          <input type="tel" [(ngModel)]="application.personalInformation.phoneNumber"/>
        </label>
        <label>
          อีเมล (E-mail)
          <input type="email" [(ngModel)]="application.personalInformation.email"/>
        </label>
        <label>
          วันเดือนปีเกิด
          <input type="date" [(ngModel)]="application.personalInformation.dateOfBirth"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="cell">
          <label>
            อายุ
            <input type="number" min="0"/>
          </label>
          <label>
            น้ำหนัก
            <input type="number" min="0" [(ngModel)]="application.personalInformation.weight"/> กิโลกรัม
          </label>
          <label>
            ส่วนสูง
            <input type="number" min="0" [(ngModel)]="application.personalInformation.heigth"/> เซนติเมตร
          </label>
      </div>
    </div>
    <div class="row">
      <div class="cell">
          <label>
            ภูมิลำเนา
            <input [(ngModel)]="application.personalInformation.placeOfBirth"/>
          </label>
          <label>
            เชื้อชาติ
            <input [(ngModel)]="application.personalInformation.race" size=15/>
          </label>
          <label>
            สัญชาติ
            <input [(ngModel)]="application.personalInformation.nationality" size=15/>
          </label>
          <label>
            ศาสนา
            <input [(ngModel)]="application.personalInformation.religion" size=15/>
          </label>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        <label>
          เลขที่บัตรประชาชน
          <input [(ngModel)]="application.personalInformation.ID"/>
        </label>
        <label>
          เลขที่ใบประกอบวิชาชีพ
          <input [(ngModel)]="application.personalInformation.profNo"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="cell">
        
          สถานภาพทางทหาร 
          <input type="radio" value="ผ่านการเกณฑ์ทหาร" [(ngModel)]="application.militaryStatus" name="militaryStatus" />ผ่านการเกณฑ์ทหาร
          <input type="radio" value="ยังไม่ผ่านการเกณฑ์ทหาร" [(ngModel)]="application.militaryStatus" name="militaryStatus" />ยังไม่ผ่านการเกณฑ์ทหาร
          <input type="radio" value="ได้รับการยกเว้น" [(ngModel)]="application.militaryStatus" name="militaryStatus" />ได้รับการยกเว้น
        
      </div>
    </div>
    <div class="row">
      <div class="cell">
          สถานภาพสมรส 
          <input type="radio" value="โสด" [(ngModel)]="application.maritalStatus" name="maritalStatus" />โสด
          <input type="radio" value="แต่งงานแล้ว" [(ngModel)]="application.maritalStatus" name="maritalStatus" />แต่งงานแล้ว
          <input type="radio" value="แยกกันอยู่" [(ngModel)]="application.maritalStatus" name="maritalStatus" />แยกกันอยู่
          <input type="radio" value="หม้าย" [(ngModel)]="application.maritalStatus" name="maritalStatus" />หม้าย
          <input type="radio" value="หย่า" [(ngModel)]="application.maritalStatus" name="maritalStatus" />หย่า
      </div>
    </div>
  </div>
</div>
  