<div class="application">
    <div class="application-title">
      <h3>{{title}}</h3>
    </div>
</div>

<div class="application">
  <div class="application-body container">
    <div class="row">
      <div class="cell">
        <label>ข้าพเจ้าขอรับรองว่า ข้อความข้างต้นและหลักฐานต่างๆ ถูกต้องและเป็นความจริงทุกประการ ข้าพเจ้ายินดีให้บริษัทสอบประวัติเกี่ยวกับตัวข้าพเจ้าได้ และหากข้าพเจ้าได้รับการพิจารณาเข้าทำงาน และบริษัทตรวจสอบว่าข้อความที่ให้ไว้ไม่ตรงกับความจริง ข้าพเจ้ายินดีให้บริษัทยกเลิกสัญญาจ้างของข้าพเจ้าทันที โดยข้าพเจ้าจะไม่เรียกร้องค่าสินไหมทดแทนหรือเงินชดเชยใดๆ ทั้งสิ้นจากบริษัท
        </label>
      </div>
    </div>
    <div class="row"  align="right">
      <div class="cell">
        <label>
          <input type="checkbox" name="checkbox" /> ยอมรับข้อตกลง
        </label>
      </div>
    </div>
  </div>
</div>