<div class="application">
  <div class="application-title">
    <h3>{{title}}</h3>
  </div>
</div>

<div class="application">
  <div class="application-body container">
    <div class="row">
      <div class="cell">
        <label>ท่านเคยถูกกล่าวหา หรือต้องโทษในคดีอาญาหรือไม่ เคย
          <input type="checkbox" name="checkbox1" /> ไม่เคย
          <input type="checkbox" name="checkbox2" size="5"> </label>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="cell">
        <label>ท่านเคยเป็นบุคคลที่ศาลสั่งล้มละลาย หรือเป็นคนที่เสมือนไร้ซึ่งความสามารถหรือไม่ เคย
          <input type="checkbox" name="checkbox3" /> ไม่เคย
          <input type="checkbox" name="checkbox4" size="5"> </label>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="cell">
        <label>ท่านเคยประสบอุบัติเหตุร้ายแรงหรือไม่ เคย
          <input type="checkbox" name="checkbox5" /> ไม่เคย
          <input type="checkbox" name="checkbox6" size="5"> </label>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="cell">
        <label>ใน 5 ปีที่ผ่านมา ท่านเคยเจ็บปวดร้ายแรงหรือไม่ เคย
          <input type="checkbox" name="checkbox7" /> ไม่เคย
          <input type="checkbox" name="checkbox8" size="5"> </label>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="cell">
        <label>ท่านมีโรคประจำตัวหรือไม่ เคย
          <input type="checkbox" name="checkbox9" /> ไม่เคย
          <input type="checkbox" name="checkbox10" size="5"> </label>
        <br>
      </div>
      <div class="cell">
        <label>โปรดระบุ
          <input type="text" name="option1" size="20" />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="cell">
        <label>ท่านทราบข่าวการสมัครงานจากที่ใด</label>
      </div>
      <div class="cell">
        <label>นสพ โปรดระบุ
          <input type="text" name="option2" size="70" />
        </label>
      </div>
    </div>
    <div class="row">

      <div class="cell">
        <label>เว็บไซต์ โปรดระบุ
          <input type="text" name="option3" size="70" />
        </label>
      </div>
    </div>

    <div class="row">

      <div class="cell">
        <label>งานนัดพบแรงงาน โปรดระบุ
          <input type="text" name="option4" size="70" />
        </label>
      </div>
    </div>

    <div class="row">

      <div class="cell">
        <label>บุคคลแนะนำ โปรดระบุ
          <input type="text" name="option5" size="70" />
        </label>
      </div>
    </div>
    <div class="row">

      <div class="cell">
        <label>อื่นๆ โปรดระบุ
          <input type="text" name="option6" size="70" />
        </label>
      </div>
    </div>
  </div>
</div>