<div *ngIf="!userService.checkPersonalInformation()" class="middle-screen">
  Your profile is incomplete, please give us more information.<br> <a routerLink="info">Edit your personal information</a>
</div>
<div *ngIf="userService.checkPersonalInformation() && isDraft" class="middle-screen">
  <a routerLink="registration">Create or Edit your registration form.</a>
</div>
<div *ngIf="userService.checkPersonalInformation() && !isDraft" class="middle-screen">
  <h1>
    สถานะใบสมัคร: {{registrationStatus}}
  </h1>
</div>